body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}


/*////////////////////////// Navbar /////////////////*/

.hamburguer {
  border: none;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 4rem;
  width: auto;
}

#icon-hamburguer {
  font-size: 2em;
}

.navbar ul li a {
  font-size: 1.75em;
  display: flex;
  justify-content: center;
}

.escuela {
  color: #fff
}

.mr-4 {
  margin-right: 4rem;
}



/*////////////////////////// Nav ////////////////////*/

.main-container {
  height: 1100px;
}

#navbar{
  background-color:#0b0b0b;
}

.nav-div {
  background-image: url("../images/nav3.webp");
  height: 1100px;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.rigth-side {
  height: 1100px;
}

.div-title {
  margin-top: 9rem;
  max-width: 65%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.div-title h2 {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-size: 2.5em;
}

.div-title p {
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  font-size: 1.90em;
}

.emoji {
  max-width: 65%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 10rem;
}

.emoji p {
  font-size: 2.8em;
}


/*////////////////////////// Links ////////////////////*/
.container-links {
  padding-top: 1px;
  padding-left: 190px;
  padding-right: 190px;
  height: 916px;
}

.links-container-title,
.links-container {
  margin-top: 6rem;
}

.cards-container {
  flex-wrap: wrap;
}

.links-container-title h3 {
  font-size: 3.5em;
  font-weight: bolder;
  color: rgb(9, 192, 55);
}

.card {
  height: 334px;
  width: 300px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card img {
  height: 12rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.btn-links {
  margin-top: 1.5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
  justify-content: center;
}

/*////////////////////////// Slider ////////////////////*/
.slider-container {
  background-color: #fffffe;
}

.title-slider h4 {
  font-size: 3em;
  color: #5cb85c;
  text-shadow: 2px 1px 1px green;
  text-decoration: underline;
}

.title-slider p {
  font-size: 1.5em;
  color: green;
}

.slider-container {
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.carousel-item img {
  width: auto;
  height: 47rem;
  border-radius: 24%;
}


/*////////////////////////// Prices ////////////////////*/

.prices-container {
  height: 900px;
  background-color: #0b0b0b
 
}

.prices {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.promo-tittle-div1 {
  margin-top: 14rem;
}

.promo-tittle-div1 h5 {
  padding-top: 6rem;
  color: #fffffe;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.promo-tittle-div2 h6 {
  margin-top: 2rem;
  color: #fffffe;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.card-title {
  display: block;
  font-size: 1.5em;
}

.card-prices {
  color: white;
  background-color: rgb(32, 3, 60);
  height: 270px;
  max-width: 284px;
  border: none;
  margin-top: 5rem;
}

.card-prices p {
  font-size: 1.45em;
}

#promos {
  text-transform: uppercase;
}

.disclaimer{
  color:#fff;
  font-size: 1em;
  margin-top: 20rem;
}


/*/////////////////////////// Title hidden >570 ///////////////////////////////*/

.title-hidden,
.text-main-hidden {
  display: none;
}

.text-main-hidden {
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 80%;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  position: relative;
  z-index: 100;
  opacity: 0.9;
  margin-bottom: 0;
  justify-content: center;
}

.title-main-hide h2 {
  font-size: 1.5em;
}

.title-main-hide p {
  font-size: 1.25em;
}

.emoji-hidden {
  margin-top: 0;
  z-index: 100;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  font-size: 1.5em;
  justify-content: space-around;
}

.whatsapp {
  position: fixed;
  bottom: 9rem;
  right: 0;
  z-index: 9999;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../images/what2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 122%;
}

footer {
  padding-top: 1px;
  background: #5cb85c;
  color: white;
}

.nosotros {
  margin-top: 6rem;
}

.last-title {
  font-size: 3.5em;
}

.foot {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.sociales {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  justify-content: space-around;
}

.redes {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  justify-content: space-around;
}

.seguinos-img {
  height: 4rem;
  width: 4rem;
}

.facebook {
  border-radius: 10%;
  height: 4rem;
  width: 4rem;
}

.whats-img {
  border-radius: 14px;
}

.whats-div,
.insta-div {
  margin-top: 3rem;
}

.ubication-img {
  font-size: 2rem;
}

.color-white {
  color: white;
  font-size: 1.5em;
}

.deco-none {
  text-decoration: none;
  list-style: none;
}

.horarios-div {
  max-width: 70%;
  margin-bottom: 5rem;
}

.oficina {
  margin-top: 2rem;
  font-size: 1.25em;
}

.horario-p {
  font-size: 2rem;
}

.map-div {
  flex-direction: column;
}

.map {
  height: 20rem;
  min-width: 50%;
}

.webmaster {
  display: flex;
  justify-content: start;
  background: rgb(32, 3, 60);
  border-radius: 6px;
}

.webmaster-p {
  font-size: 1.25em;
  color: #fffffe;
}

.linkedin-img {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 8px;
  margin-bottom: 6px;
}

.mb-5rem {
  margin-bottom: 5rem;
}

.whats-diseño {
  margin-left: 0.5rem;
}


/*/////////////////////////// 1882px ///////////////////////////////*/
@media(max-width:1882px) {
  .div-title {
    margin-top: 6rem;
  }

  .main-container {
    height: 900px;
  }

  .nav-div {
    height: 900px;

  }

  .rigth-side {
    height: 900px;
  }

}

@media(max-width:1708px) {
  .escuela {
    font-size: 2em;
  }

  .navbar ul li a {
    font-size: 1.5em;

  }

}

/*/////////////////////////// 1660px ///////////////////////////////*/
@media(max-width:1660px) {

  .div-title,
  .emoji {
    max-width: 80%;
  }

  .map {
    min-width: 70%;
  }

  .escuela {
    font-size: 1.5em;
  }

  .navbar ul li a {
    font-size: 1.25em;

  }
}

@media(max-width:1419px) {
  .disclaimer{
    margin-top: 3rem;
  }
}	


/*/////////////////////////// 1360px ///////////////////////////////*/
@media(max-width:1360px) {

  .div-title,
  .emoji {
    max-width: 90%;
  }

  .emoji p {
    margin-top: 2.5rem;
  }

  .links-container-title {
    margin-top: 1rem;
  }

  .links-container {
    margin-top: 1rem;
  }

  .map {
    height: 18rem;
    min-width: 60%;
  }

}


/*/////////////////////////// 1204px ///////////////////////////////*/
@media(max-width:1204px) {

  .div-title h2 {
    font-size: 2em;
  }

  .div-title p {
    font-size: 1.7em;
  }

  .prices-container{
    height: 1138px;
  }

  .emoji p {
    margin-top: 0;
    font-size: 2.5em;
  }

  .escuela {
    font-size: 1em;
  }

  .navbar ul li a {
    font-size: 1em;

  }
}


/*/////////////////////////// 1040px ///////////////////////////////*/
@media(max-width:1040px) {
  .emoji p {
    margin-top: 1rem;
  }
}

/*/////////////////////////// 1006px ///////////////////////////////*/
@media(max-width:1006px) {}



/*/////////////////////////// 992px ///////////////////////////////*/
@media(max-width:992px) {
  .div-title {
    max-width: 95%;
  }

  .container-links {
    height: 556px;
    padding-left: 0;
    padding-right: 0;
  }

  .links-container-title h3 {
    font-size: 2.5em;
  }

  .card img {
    height: 9rem;
    width: 11rem;
  }

  .btn-links {
    margin-top: 0;
  }


  .card {
    height: 236px;
    width: 248px;
  }

  .carousel-item img {
    height: 616px;
  }

  .card-prices p {
    font-size: 1.20em;
  }

  .last-title {
    font-size: 2.5em;
  }

  .escuela {
    font-size: 2em;
  }

  .disclaimer{
    margin-top: 7rem;
  }

}

/*/////////////////////////// 922px ///////////////////////////////*/
@media(max-width:922px) {
  .div-title {
    margin-top: 4rem;
  }

  .emoji p {
    margin-top: 3rem;
  }
}

/*//////////////////////////  858px ///////////////////////////////*/
@media(max-width:858px) {
  .div-title p {
    font-size: 1.5em;
  }

  .color-white {
    font-size: 1.25em;
  }

  .webmaster-p {
    font-size: 1em;
  }

  .linkedin-img {
    height: 1rem;
    width: 1rem;
    border-radius: 2px;
  }
}

@media(max-width:770px) {
  .last-title {
    font-size: 2em;
  }

  .redes-p {
    display: none;
  }

  .seguinos-img,
  .facebook {
    height: 2.5rem;
    width: 2.5rem;
  }

  .conductores {
    display: none;
  }

}

@media(max-width:745px) {
  .promo-tittle-div1 {
    margin-top: 0rem;
  }


  .promo-tittle-div1 h5 {
    padding-top: 3rem;
  }

  .prices {
    margin-top: 0rem;
  }

  .container-links {
    height: 680px;
  }

  .disclaimer{
    margin-top: 2rem;
  }
}



/*//////////////////////////  740px ///////////////////////////////*/
@media(max-width:740px) {

  .div-title h2 {
    font-size: 1.8em;
  }

  .emoji p {
    margin-top: 0;
    font-size: 2em;
  }

  .emoji {
    margin-top: 14rem;
  }

  .prices {
    flex-direction: column;
    align-items: center;
  }

  .prices-container {
    height: 1899px;
  }

}


/*//////////////////////////  668px ///////////////////////////////*/
@media(max-width:668px) {
  .div-title p {
    font-size: 1.4em;
  }

  .navbar ul li a {
    font-size: 1.5em;
  }

  .foot {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .map {
    height: 16rem;
    min-width: 100%;
  }
}

/*//////////////////////////  644px ///////////////////////////////*/
@media(max-width:644px) {
  .foot {
    flex-direction: column;
  }

  .map-div {
    margin-top: 0;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .sociales {
    margin-top: 0;
  }

  .redes {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0;
  }

  .redes-p {
    display: flex;
  }

  .horarios-div {
    padding-top: 3rem;
  }

  .webmaster {
    flex-direction: column;

  }

  .whats-diseño {
    margin-left: 0;
  }

  .disclaimer{
  font-size: 0.8em;
}


}


/*/////////////////////////// 577px ///////////////////////////////*/
@media(max-width:577px) {

  .title-hidden,
  .text-main-hidden {
    display: flex;
  }

  .hamburguer {
    font-size: 0.75rem;
    border: none;
  }

  .rigth-side,
  .div-title,
  .emoji {
    display: none;
  }

  .main-container,
  .nav-div {
    height: 730px;
  }

  .links-container-title h3 {
    font-size: 1.5em;
  }

  .title-slider h4 {
    font-size: 2em;
  }

  .title-slider p {
    font-size: 1.25em;
  }

  .promo-tittle-div1 h5 {
    font-size: 2em;
  }

  .links-container-title {
    margin-top: 6rem;
  }

  .btn-links {
    margin-top: 0;

  }

  .links-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .links-container-title {
    margin-top: 2rem;
  }

  .carousel-item img {
    height: 514px;
  }

  .container-links {
    height: 964px;
  }

  .whatsapp {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/*////////////////////////// 546px ///////////////////////////////*/
@media(max-width:546px) {
  .text-main-hidden {
    margin-top: 380px;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
}

/*////////////////////////// 526px ///////////////////////////////*/
@media(max-width:526px) {
  .title-main-hide h2 {
    font-size: 1.2em;
  }

  .optional-text {
    display: none;
  }

  .title-main-hide p {
    font-size: 0.9em;
  }

  .main-container,
  .nav-div {
    height: 686px;
  }

  .last-title {
    font-size: 1.5em;
  }

  .escuela {
    font-size: 1.4em;
  }

}


/*////////////////////////// 450px ///////////////////////////////*/
@media(max-width:450px) {
  .title-hidden h2 {
    font-size: 1.25em;
  }

  .carousel-item img {
    height: 370px;
  }

}


/*////////////////////////// 412px ///////////////////////////////*/
@media(max-width:412px) {

  .title-hidden h2 {
    font-size: 1.25em;
  }

  .title-hidden h2 {
    font-size: 1.5em;
  }

}

/*////////////////////////// 386px ///////////////////////////////*/
@media(max-width:386px) {

  .prices {
    flex-direction: column;
    align-content: center;
  }

  .promo-tittle-div1 h5 {
    padding-top: 1rem;
  }

  .card-body {
    padding: 1rem;
  }
}


/*////////////////////////// 376px ///////////////////////////////*/
@media(max-width:376px) {
  .title-hidden h2 {
    padding-top: 10px;
    font-size: 1em;
  }

  .links-container-title h3 {
    font-size: 1.2em;
  }

  .redes-p {
    display: none;
  }

  .escuela {
    font-size: 1em;
  }
}